{% extends 'django-pkiman/base.html' %}
{% block main %}
  <div class="uk-section uk-section-muted uk-flex uk-flex-middle" uk-height-viewport>
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div
                class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
              <h3 class="uk-card-title uk-text-center"></h3>
              <form method="post">
                {% csrf_token %}
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-large" name="username" placeholder="имя пользователя"
                           id="id_username" type="text" required>
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input uk-form-large" type="password" name="password" id="id_password" required>
                  </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                <div class="uk-margin">
                  <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Войти</button>
                </div>
                <div class="uk-text-small uk-text-center">
                  Для регистрации обратитесь к администратору.
                </div>
              </form>
              {% if form.non_field_errors %}
                <ul class="uk-list">
                  {% for error in form.non_field_errors %}
                    <li class="uk-text-danger">{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
