{% extends 'pkiman/base.html' %}{% load pkimantags %}
{% block mgmt-subnav-journal %}
  <li class="uk-active"><a href="{% url 'pkiman:journal' %}">Журнал</a></li>{% endblock %}
{% block left_block %}
  <table class="uk-table uk-table-hover uk-text-small uk-table-divider">
    <tbody>
    {% for rec in object_list %}
      <tr>
        <td class="uk-padding-remove-vertical uk-table-shrink uk-text-nowrap" style="font-family: monospace;"><small>{{ rec.created_at }}</small></td>
        <td class="uk-padding-remove-vertical uk-table-shrink" style="font-family: monospace;color: {{ rec.level|level_tag }}">{{ rec.level }}</td>
        <td class="uk-padding-remove-vertical uk-table-expand">{{ rec.message }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% include 'pkiman/includes/paginator.html' %}
{% endblock %}
{% block right_block %}
{% endblock %}
