{% load static humanize pkimantags %}
{% if object_list.exists %}
  <table class="uk-table uk-table-hover uk-table-justify uk-text-small uk-table-divider">
    <thead>
    <tr class="uk-background-muted">
      <th class="uk-table-shrink">Сертификат</th>
      <th class="uk-table-expand">Список отзыва</th>
      <th class="uk-table-shrink">Период</th>
      <th class="uk-table-shrink">Файл</th>
      <th>Планировщик</th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
      {% with item.is_valid as item_is_valid %}
        <tr{% if not item_is_valid or item.come_to_end %} style="background-color: rgba(255,228,181,0.52)"{% endif %}>
          {# Certificate #}
          <td class="uk-padding-remove-vertical uk-table-expand" title="{{ item.issuer.subject_as_text }}">
            <div><a href="#">{{ item.issuer }}</a></div>
            <div><small style="font-family: monospace">ID:{{ item.issuer.subject_identifier }}</small></div>
            <div><small style="font-family: monospace">SN:{{ item.issuer.serial }}</small></div>
          </td>
          {# Crl data #}
          <td class="uk-padding-remove-vertical uk-table-shrink">
            <div style="font-family: monospace"><a href="#">FP:{{ item.fingerprint }}</a></div>
            <div><small style="font-family: monospace">#:{{ item.crl_number|default_if_none:'-' }}</small></div>
            <div>
              {% for tag in item.tags.all %}
                <code><small title="Тег"><a class="uk-link-reset" href="{% url 'pkiman:index' %}?pki={{ pki_type }}&s=tag:{{ tag.slug }}">{{ tag }}</a></small></code>
              {% endfor %}
            </div>
          </td>
          {# Crl period #}
          <td class="uk-padding-remove-vertical uk-table-shrink">
            <div style="font-family: monospace" class="uk-text-nowrap">
              &nbsp;C: {{ item.last_update|date:"SHORT_DATETIME_FORMAT" }}</div>
            <div style="font-family: monospace"
                 class="uk-text-nowrap{% if not item_is_valid %} uk-text-danger{% endif %}">
              До: {{ item.next_update|date:"SHORT_DATETIME_FORMAT" }}</div>
            <div class="uk-text-nowrap">
              {% if not item_is_valid %}
                <small class="uk-text-danger uk-text-bold">истек</small>
              {% else %}
                <small{% if item.come_to_end %}
                  class="uk-text-danger uk-text-bold"{% endif %}>истекает {{ item.next_update|naturaltime }}</small>
              {% endif %}
            </div>
          </td>
          {# File #}
          <td class="uk-padding-remove-vertical">
            <small class="uk-text-nowrap">
              <div title="загружен"><i uk-icon="icon: cloud-download; ratio: .7"></i> {{ item.created_at }}</div>
              <div title="обновлен"><i uk-icon="icon: refresh; ratio: .7"></i> {{ item.updated_at }}</div>
              {% if item.file_exists %}
                <a href="{{ item.get_absolute_url }}"><i uk-icon="icon: download; ratio: .7"></i>загрузить</a>
              {% else %}
                <span uk-icon="icon: warning" class="uk-text-danger" title="No file found"></span>
              {% endif %}
            </small>
          </td>
          {# Планировщик #}
          <td class="uk-padding-remove-vertical uk-table-shrink uk-text-nowrap">
            {# Settings #}
            {% if mgmt %}
              <div><small>
                <a href="{% url 'pkiadmin:pkiman_crl_change' item.pk %}?next={% url 'pkiman:index' %}?pki={{ pki_type }}">
                  <i uk-icon="icon: settings; ratio: 0.7"></i>настроить</a>
              </small></div>
            {% endif %}
            {# Schedule #}
            <div>
              {% if item.schedule %}
                <span><small><i uk-icon="icon: clock; ratio: .7"></i>
                  {% if item.active %}
                    {{ item.schedule|default_if_none:'-' }}
                  {% else %}
                    <del title="деактивирован">{{ item.schedule|default_if_none:'-' }}</del>
                  {% endif %}
                </small></span>
              {% elif item.urls %}
                <span><small><i uk-icon="icon: clock; ratio: .7"></i> не установлен</small></span>
              {% endif %}
            </div>
            {# Sync #}
            {% if item.f_sync %}
              <div><small title="последняя синхронизация"><i uk-icon="icon: refresh; ratio: .7"></i> {{ item.f_sync }}
              </small></div>
            {% endif %}
            {# Run update #}
            {% if mgmt and item.urls %}
              <div title="запустить обновление"><small>
                <a style="color: #107e5c" href="{% url 'pkiman:update_crl' item.pk %}?pki=crl"><i
                    uk-icon="icon: play"></i>обновить</a>
              </small></div>
            {% endif %}
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
    </tbody>
  </table>
  {% include 'pkiman/includes/paginator.html' %}
{% else %}
  <div>Списки отзыва не найдены</div>
{% endif %}
