{% extends 'django-pkiman/base.html' %}
{% block left_block %}
  {% if pki_type == 'crt' %}
    {% include 'django-pkiman/includes/crt_list.html' %}
  {% elif pki_type == 'crl' %}
    {% include 'django-pkiman/includes/crl_list.html' %}
  {% endif %}
{% endblock %}

{% block right_block %}
  {% if url_path %}
    <div class="uk-padding-small">
      <ul class="uk-tab-right" uk-tab>
        <li{% if pki_type == 'crt' %} class="uk-active"{% endif %} onclick=window.location="{{ url_path }}?pki=crt">
          <a>Сертификаты</a>
        </li>
        <li{% if pki_type == 'crl' %} class="uk-active"{% endif %} onclick=window.location="{{ url_path }}?pki=crl">
          <a>Списки отзыва</a>
        </li>
      </ul>
    </div>
  {% endif %}
{% endblock %}
