{% extends 'django-pkiman/base.html' %}{% load pkimantags %}
{% block admin_navbar %}
  <div class="uk-background-muted uk-text-bolder">
    <ul class="uk-subnav uk-subnav-divider uk-margin-remove-vertical uk-margin-left">
      {% block mgmt-subnav-reestr %}
        <li><a href="{% url 'pkiman:reestr' %}">{{ 'all'|pki_critical_period_tag }} Реестр</a></li>{% endblock %}
      {% block mgmt-subnav-upload %}
        <li><a href="{% url 'pkiman:uploads' %}">Загрузка</a></li>{% endblock %}
      {% block mgmt-subnav-schedule %}
        <li><a href="{% url 'pkiman:schedule' %}">Планировщик</a></li>{% endblock %}
      {% block mgmt-subnav-index %}
        <li><a href="{% url 'pkiman:url_index_file' %}">Индекс</a></li>{% endblock %}
      {% block mgmt-subnav-journal %}
        <li><a href="{% url 'pkiman:journal' %}">Журнал</a></li>{% endblock %}
    </ul>
  </div>
  <hr class="uk-margin-remove-vertical">
{% endblock %}
{% block left_block %}
  <div class="uk-container-expand">
    {% block mgmt %}{% endblock %}
  </div>
{% endblock %}

