{% load static pkimantags %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
  <script src="{% static 'js/uikit.min.js' %}"></script>
  <script src="{% static 'js/uikit-icons.min.js' %}"></script>
  <title>PKI manager</title>
</head>
<body>
{% block main %}
  {# Navbar #}
  <div uk-sticky="sel-target: .uk-section; cls-active: uk-navbar-sticky">
    <div class="uk-container uk-container-expand uk-padding-remove">
      <div
          class="uk-section uk-padding-remove-vertical {% if mgmt %}uk-section-secondary{% else %}uk-section-primary{% endif %}">
        <nav class="uk-navbar" uk-navbar>
          <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo uk-padding-small" href="{% url 'pkiman:index' %}">PKI менеджер</a>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav ">
              <li class="uk-navbar-item uk-active">
                <a title="Руководство" href="{% url 'pkiman:docs' %}"><span uk-icon="icon: question"></span></a>
              </li>
              {% if user.is_authenticated %}
                <li class="uk-navbar-item uk-active">
                  <a title="Настройки приложения"
                     href="{% url 'pkiadmin:index' %}?next={% url 'pkiman:index' %}?pki={{ pki_type }}"
                     uk-icon="icon: cog"></a>
                </li>
                <li class="uk-navbar-item uk-active">
                  {{ user|upper }}
                </li>
                <li class="uk-navbar-item uk-active uk-margin-small-right">
                  <a title="Выход" href="{% url 'logout' %}" class="uk-button" uk-icon="icon: sign-out"></a>
                </li>
              {% else %}
                <li class="uk-navbar-item uk-active uk-margin-small-right">
                  <a title="Вход" class="uk-button" href="{% url 'login' %}" uk-icon="icon: sign-in"></a>
                </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  {% if mgmt %}{% block admin_navbar %}
    <div class="uk-background-muted uk-text-bolder">
      <ul class="uk-subnav uk-subnav-divider uk-margin-remove-vertical uk-margin-left">
        {% block mgmt-subnav-reestr %}
{#          <li><a href="{% url 'pkiman:index' %}">{{ 'all'|pki_critical_period_tag }} Реестр</a></li>{% endblock %}#}
          <li><a href="{% url 'pkiman:index' %}">Реестр</a></li>{% endblock %}
        {% block mgmt-subnav-upload %}
          <li><a href="{% url 'pkiman:uploads' %}">Загрузка</a></li>{% endblock %}
        {% block mgmt-subnav-schedule %}
          <li><a href="{% url 'pkiman:schedule' %}">Планировщик</a></li>{% endblock %}
        {% block mgmt-subnav-index %}
          <li><a href="{% url 'pkiman:url_index_file' %}">Индекс</a></li>{% endblock %}
        {% block mgmt-subnav-journal %}
          <li><a href="{% url 'pkiman:journal' %}">Журнал</a></li>{% endblock %}
      </ul>
    </div>
    <hr class="uk-margin-remove-vertical">
  {% endblock %}{% endif %}
  {% block messages %}
    {% if messages %}
      {% for message in messages %}
        <div class="uk-margin-remove-vertical {% if message.level %} uk-alert-{{ message.level|alert_tag }}{% endif %}"
             uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}
  {% endblock messages %}
  {# Main #}
  <div class="uk-section uk-section-default uk-padding-remove-vertical">
    <div class="uk-container-expand uk-padding-small">
      {% block main_block %}
      {% endblock %}
    </div>
  </div>

  {# Footer #}
  <div uk-sticky="position: bottom">
    <div class="uk-section-secondary">
      <div class="uk-container-expand uk-padding-small">
        <div class="uk-grid uk-padding">
          <div class="uk-width-1-2">
            2023
          </div>
          <div class="uk-width-1-2">
            <ul class="uk-nav uk-text-muted">
              <li class="uk-align-right"><a href="#">API</a></li>
              <li class="uk-align-right"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
</body>
</html>
