{% extends 'pkiman/base.html' %}{% load pkimantags %}
{% block mgmt-subnav-reestr %}
  <li class="uk-active"><a href="">{{ 'all'|pki_critical_period_tag }} Реестр</a></li>
{% endblock %}
{% block left_block %}
  {% include 'pkiman/includes/pki_search_form.html' %}
  {% if pki_type == 'crt' %}
    {% include 'pkiman/includes/crt_list.html' %}
  {% elif pki_type == 'crl' %}
    {% include 'pkiman/includes/crl_list.html' %}
  {% endif %}
{% endblock %}

{% block right_block %}
  {% if url_path %}
    <div class="uk-padding-small">
      <ul class="uk-tab-right" uk-tab>
        <li{% if pki_type == 'crt' %} class="uk-active"{% endif %} onclick=window.location="{{ url_path }}?pki=crt">
          <a>Сертификаты{% if mgmt %} {{ 'crt'|pki_critical_period_tag }}{% endif %}</a>
        </li>
        <li{% if pki_type == 'crl' %} class="uk-active"{% endif %} onclick=window.location="{{ url_path }}?pki=crl">
          <a>Списки отзыва{% if mgmt %} {{ 'crl'|pki_critical_period_tag }}{% endif %}</a>
        </li>
      </ul>
    </div>
  {% endif %}
{% endblock %}
